.cells{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
}

.cells > div {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 40px;
    text-align: center;
    height: 70px;
    cursor: pointer;
}