body{
    background-color: lightgray;
    margin: 0;
    padding: 20px;
}

header, footer, nav{
    text-align: center;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    margin-bottom: 20px;
    height: 50px;
    font-size: 250%;
}

footer{
    margin-top: 50px;
    font-size: 125%;
}

nav{
    font-size:100% ;
    height: 20px;
}



.cells{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
}

.p1{
    background-color: red;
}

.p2{
    background-color: yellow;
}

.grid-cells > div {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-screen{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: red;
}

.grid-cells{
    display: grid;
    grid-template-columns: repeat(7, 75px);
    background-color: #0f3460;
    padding: 30px;
    grid-template-rows: repeat(6, 75px);
    gap: 15px;
    border-radius: 15px;
    justify-content: center;
    grid-template-areas:
    "c0 c1 c2 c3 c4 c5 c6"
    "c7 c8 c9 c10 c11 c12 c13"
    "c14 c15 c16 c17 c18 c19 c20"
    "c21 c22 c23 c24 c25 c26 c27"
    "c28 c29 c30 c31 c32 c33 c34"
    "c35 c36 c37 c38 c39 c40 c41 c42";
}

.red {
    background-color: red !important;

}
.yellow {
    background-color: yellow !important;

}


#0{
    grid-area: c0;
}

#1{
    grid-area: c1;
}

#2{
    grid-area: c2;
}

#3{
    grid-area: c3;
}

#4{
    grid-area: c4;
}

#5{
    grid-area: c5;
}

#6{
    grid-area: c6;
}

#7{
    grid-area: c7;
}

#8{
    grid-area: c8;
}

#9{
    grid-area: c9;
}

#10{
    grid-area: c10;
}

#11{
    grid-area: c11;
}

#12{
    grid-area: c12;
}

#13{
    grid-area: c13;
}

#14{
    grid-area: c14;
}

#15{
    grid-area: c15;
}

#16{
    grid-area: c16;
}

#17{
    grid-area: c17;
}

#18{
    grid-area: c18;
}

#19{
    grid-area: c19;
}

#20{
    grid-area: c20;
}

#21{
    grid-area: c21;
}

#22{
    grid-area: c22;
}

#23{
    grid-area: c23;
}

#24{
    grid-area: c24;
}

#25{
    grid-area: c25;
}

#26{
    grid-area: c26;
}

#27{
    grid-area: c27;
}

#28{
    grid-area: c28;
}

#29{
    grid-area: c29;
}

#30{
    grid-area: c30;
}

#31{
    grid-area: c31;
}

#32{
    grid-area: c32;
}

#33{
    grid-area: c33;
}

#34{
    grid-area: c34;
}

#35{
    grid-area: c35;
}

#36{
    grid-area: c36;
}

#37{
    grid-area: c37;
}

#38{
    grid-area: c38;
}

#39{
    grid-area: c39;
}

#40{
    grid-area: c40;
}

#41{
    grid-area: c41;
}
